body {
	background: white;
	padding: ;
	margin: 0;
}

#id1 {
	box-shadow: 0 0 1px lightblue;
	padding: 0;
	height: 40px;
}

#img1 {
	height: 30px;
	width: 30px;
	padding: 15px;
	margin: 0;
}

#img2 {
	height: 50px;
	width: 50px;
}

.c1 {
	height: 70px;
	width: 100%;
	background: blue;
}

.c2 {
	padding-left: 117px;
	margin-top: -55px;
	font-size: 40px;
	color: white;
}

.c3 {
	padding-left: 320px;
	margin-top: -74px;
	font-size: 20px;
	color: white;
}

.c4 {
	position: relative;
	bottom: 47px;
	left: 1100px;
	font-size: 20px;
	color: gray;
}
.menu {
	display: inline-block;
	position: relative;
	top: 6px;
}
.menu:hover .d-menu {
    height: 500px;
}

.d-menu {
	overflow: scroll;
	list-style: none;
	padding: 0;
	margin: 0;
	transition: 1s;
	background: lightblue;
	height: 0;
	width: 500%;
	position: absolute;
}